@{
    ViewBag.Title = "Home Page";
}

    <link href="~/Content/homePage.css" rel="stylesheet" type="homePage.css" />

<div class="jumbotron">
    <h1>Hospital</h1>
    <p class="lead">Hey, wlcome to the hospital</p>
</div>

<div class="row">
    <div class="hospitalNew">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>